.accordion-toggle.no-padding {
  padding: 0;
}

.accordion-inner {
  border-top: none;
}

.no-border {
  border: none;
}

.node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
  color: black;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 65%; /* aspect ratio - should this be 100%? */
    vertical-align: top;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}