{% extends "base.html" %}
{% block content %}
  <script src="{{url_for('static', filename='network.js')}}"></script>
  <h2>Network view - actors appearing with <span id="actor">{{ actor }}</span></h2>
  <p>Data from the <span id="endpoint">wikinews</span> dataset</p>

  <form class="form-inline">
  <input type="text" id="selCentralActor" list="CentralActors">
    <datalist id="CentralActors">
      <select>
        <option value="Barack_Obama">
        <option value="George_W._Bush">
        <option value="John_McCain">
        <option value="Sarah_Palin">
      </select>
    </datalist>
  </input>
  <button class="btn btn-default" id="refresh-btn" onclick="event.preventDefault();pressRefresh()">
          <span class="glyphicon glyphicon-refresh"></span>Refresh
  </button>
  </form>

{% endblock %}
